*{
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(44, 44, 44);
}

.box1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    margin: 18vh 40vw;
    padding: 55px;
    border-radius: 25px;
    background-color: rgb(255, 255, 0);
}

.box2{
    color: rgba(255, 255, 255, 0.151);
    text-align: center;
}

.titulo{
    color: rgb(0, 0, 0);
}

.caixotes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputes{
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    height: 35px;
    margin: 10px;
    width: 100%;

    border: 2px solid rgba(65, 65, 65, 0.466);
}

.inputes:hover{
    background-color: rgb(219, 219, 219);
    transition: 0.5s ease;
}

@media (max-width: 768px) {
    .box1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    margin: 7vh 10vw;
    padding: 55px;
    }
}